<h1>Amministrazione</h1>

<div class="container">
  <div class="row">
    <button class="btn btn-success" (click)="toggleDialog()">
      Aggiungi Corso
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">NomeCorso</th>
            <th scope="col">Istruttore</th>
            <th scope="col">durata</th>
            <th scope="col">capacitaMassima</th>
            <th scope="col">numeroPartecipanti</th>
          </tr>
        </thead>
        <tbody>
          @for (corso of corsi(); track $index) {
          <tr>
            <th>
              <button class="btn btn-danger" (click)="deleteCorso(corso.id)">
                Elimina Corso
              </button>
            </th>
            <th scope="row">{{ $index + 1 }}</th>
            <td>{{ corso?.nome }}</td>
            <td>{{ corso?.istruttore }}</td>
            <td>{{ corso?.durata }}</td>
            <td>{{ corso?.capacitaMassima }}</td>
            <td>{{ corso?.numeroPartecipanti }}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="[corso.id]"
                >Visualizza partecipanti</a
              >
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col">
      <router-outlet />
    </div>
  </div>
</div>

@if(isOpenDialog()){
<app-add-corso
  [isOpen]="isOpenDialog()"
  (close)="toggleDialog()"
></app-add-corso>
}

<div
  class="toast-container position-fixed p-3"
  style="right: 50px; bottom: 50px; width: 400px; height: 20rem"
>
  <div
    class="toast"
    style="
      background-color: rgb(102, 209, 102);
      height: 2em;
      font-size: 1.25rem;
    "
    id="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  ></div>
</div>
